[submodule "HPython/high_performance_python"]
	path = HPython/high_performance_python
	url = https://github.com/mynameisfiber/high_performance_python.git
[submodule "HPython/high_performance_python3"]
	path = HPython/high_performance_python3
	url = https://github.com/scari/high_performance_python.git
[submodule "HandsOn_ML2/handson-ml2"]
	path = HandsOn_ML2/handson-ml2
	url = https://github.com/ageron/handson-ml2.git
[submodule "Ray/tutorial"]
	path = Ray/tutorial
	url = https://github.com/ray-project/tutorial.git
[submodule "MSA/microservices-in-action"]
	path = MSA/microservices-in-action
	url = https://github.com/morganjbruce/microservices-in-action.git
